<!DOCTYPE html>
<html lang="en" class="no-js"><!-- (class="no-js" is a Modernizr detect) -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="description" name="James Nielson is a web developer and media production professional.">

  <title>Webcraft &amp; Media Dev</title>

  <!-- CSS & STYLES & FONTS & ETCETERAS ===================================  -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/simple-slideshow-styles.css">

  <!-- MAPQUEST -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=K4OGBs1aRYREz4KccYBSm91HsSenZZze"></script>
    </script>
  <!-- MAPBOX -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.css' rel='stylesheet' />
  <!-- JS -->

</head><!--=================== /HEAD ======================================= -->

<body><!--=================== THE BOD ====================================== -->
  <div class="wrapper">
  <header id="header">

  </header>

  <main><!-- MAIN CONTENT ================================================== -->
    <div class="container">
    <!-- PANEL -->
      <div class='panel panel-default row' id="{{ property.zpid }}" data-lat="{{ property.latitude }}" data-long="{{ property.longitude }}">
        <h4 class='panel-heading'>
          <small>Zillow estimate for </small>
          {{ property.street }}
        </h4>

        <figure class="panel">
          <img src="{{ img }}"></img> <figcaption>5-year Price Trend</figcaption>
        </figure>
        <em>${{ property.zestimate.amount | number_format }}</em>
        <h6 class="text-muted">
          (Zillow ID {{ property.zpid }} last updated {{ property.zestimate.lastUpdated }})
        </h6>
        <section name="PANEL-BODY">
          <ul class='nav nav-tabs' role='tablist'>
            <li>
              <a> Description</a>
            </li>
            <li>
              <a>Spec</a>
            </li>
            <li>
              <a><span class="glyphicon glyphicon-star"></span>Reviews</a>
            </li>
          </ul>

          <div class='panel-footer clearfix' ng-show='panel.isSelected(1)'>
            Panel 1 info
          </div>
          <div class='panel-footer clearfix' ng-show='panel.isSelected(2)'>
            Panel 2 info
          </div>
          <div class='panel-footer clearfix' ng-show='panel.isSelected(3)'>
            Panel 3 Stuff
          </div><!-- / reviews -->
        </section><!-- /panel -->
      </div>



      <div class="comps row"><hr>
        <div id="map" style="height: 200px;"></div>
        <h2>Similar Homes</h2>

        {% for comp in comps %}
          <hr>
          <div class="comp row" id="{{comp.zpid}}" data-latlong="[{{comp.latitude}},{{comp.longitude}}]">
          <h3>{{ comp.street }}
            <small>is valued at:</small>
            ${{ comp.zestimate.amount | number_format }}
          </h3>

          {{comp.latitude}}-------------------------

          <h3>{{ comp.chart.url }}</h3>

          </div>
        {% endfor %}
      </div><!-- /comps -->
    </div><!-- /container -->





    </div><!-- /CONTAINER -->
  </main><!-- /MAIN -->
  <!-- SCRIPTS TODO: REMOVE DEV SCRIPT -->
      <script   src="http://localhost:35729/livereload.js"></script>
    <!-- UTILITIES AND SUCHAS -->
      <script src="js/jquery-2.1.4.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

  <!-- ********** MAPS ************* -->
    <script>
    var searchAddress = [{{ property.longitude }}, {{ property.latitude }}];

//     var comps = document.querySelectorAll(".comp");
//     for(var comp in comps){
//     }
//
//
//
//
    var mapboxObj = { container: 'map', style: 'mapbox://styles/mapbox/streets-v8', center: searchAddress , zoom: 14 };
    console.log(mapboxObj.center);





    // MAPBOX REQUIRES JS & CSS IN HEADER + <div id='maps'>
      mapboxgl.accessToken = 'pk.eyJ1IjoibWVnYWZhdW5hIiwiYSI6ImNpamV1NHpjczAwMGR1Nm01Z2UwYmQ1NzQifQ.FzHJForz0fEwjqHXPOkjOg';
      var map = new mapboxgl.Map(mapboxObj);




      // LEAFLET ----
      //     var map = L.map('map').setView([51.505, -0.09], 13);
      //       L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      //         attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      //         maxZoom: 18,
      //         id: 'your.mapbox.project.id',
      //         accessToken: 'your.mapbox.public.access.token'
      //       }).addTo(map);
      //

      // MAPQUEST ----
        // window.onload = function() {
        //   var latitude = {{ propterty.latitude }};
        //   var longitude = {{ propterty.longitude }};
        //   console.log(longitude);
        //   // var longitude = 40.731701;
        //   // var latitude = -73.993411;
        //   // L.map('map', {
        //   //   layers: MQ.mapLayer(),
        //   //   center: [ longitude, latitude ],
        //   //   zoom: 12
        //   // });
        // };

  </script>
  <!-- // SCRIPTS -->
</body>
</html>
